*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Noto Serif Display;
}

html

/*Header Section*/
.navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(6, 114, 48);
  top:0; left:0; right: 0;
  height: 25px;
 

}
.navbar ul{
display: flex;
list-style: none;
margin: 0px 0px;
color: white;
}
.navbar ul li{
  font-family: Noto Serif Display;
  font-size: 10px;
  color: white;
  font-weight: bold;
 
}

.navbar ul li a{
  color:beige ;
  padding: 5px;

}

.navbar ul li a:hover{
  background-color: white;
  color:rgb(6, 114, 48);

}

/*Home Section*/

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background:url(../images/pizza03.webp);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 5px;
  padding-bottom: 5px;
  

}

.home h1{
  color: white;
  text-align: center;

}

.home p{
  color: white;
  text-align: center;


}

/*About Section*/

.about h2{
  text-align: center;
}

.row{
  display: flex;
  justify-content: space-around;
  box-sizing:border-box ;

}

.col-md-4{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 12px;
  

}
.img-fluid{
  height: 100px;
  width: 100px;
}

.hidden-content1{
  display: none;
}
.hidden-content2{
  display: none;
}

.about h{
  font-size: 20px;
  font-weight: bold;
  
}

.products{
background-image:url(../images/serve.avif);
background-size: cover;
background-image: center;
height: 120vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 0px;
margin: 0px;
color: white;
}



/* .about .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
}

.about .box-container .box{
  padding:3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.about .box-container .box:hover{
  outline: var(--outline-hover);
  outline-offset: 0rem;
}
.about .box-container .box img{
  margin:1rem 0;
  height: 10rem;
}

.about h2{
  text-align: center;
}

.about .box-container .box h3{
  font-size: 20px;
 
}


.about .box-container .box p{
 line-height:15px;
} */
