*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Noto Serif Display;
}

html

/*Header Section*/
.navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(6, 114, 48);
  top:0; left:0; right: 0;
  height: 25px;
 

}
.navbar ul{
display: flex;
list-style: none;
margin: 0px 0px;
color: white;
}
.navbar ul li{
  font-family: Noto Serif Display;
  font-size: 10px;
  color: white;
  font-weight: bold;
 
}

.navbar ul li a{
  color:beige ;
  padding: 5px;

}

.navbar ul li a:hover{
  background-color: white;
  color:rgb(6, 114, 48);

}

/*Home Section*/

#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:url(../images/serve.avif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

#home .button{
  font-size: 15px;
  color: whitesmoke;
  text-decoration: none;
  color: rgb(238, 90, 36);
  border: rgb(238, 90, 36) 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;

}

#home .button:hover {
  background: white;
}

.home h1{
  color: white;
  text-align: center;

}

.home p{
  color: white;
  text-align: center;

}

/*About Section*/
/* about{
  background: color rgb(238, 90, 36);
} */

.about h2{
  text-align: center;
}

.row{
  display: flex;
  justify-content: space-around;
  box-sizing:border-box ; 
} 

.col-md-4{
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 160px; 
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 12px;
  

}
.img-fluid{
  height: 100px;
  width: 100px;
}

.hidden-content1{
  display: none;
}
.hidden-content2{
  display: none;
}
.hidden-content3{
  display: none;
}

.about h{
  font-size: 20px;
  font-weight: bold;
  
}

#order{
background:url(../images/pizza03.webp);
background-size: cover;
background-image: center;
height: 300vh;
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
text-align: center;
padding: 0px;
margin: 0px;
color: white;
}
.order h3{
  padding-top: 0px;
  margin: 0px;
}

.col-md{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
  width: 120px;
}

.text-center{
  padding: 5px;
  margin: 5px;
}


.table{
  color: white;
}

/*Footer Section*/

.contact{
  background:rgb(6, 114, 48); 
  align-items: center;
  text-align: center;
 
}

.contact{
font-size: 15px;
padding: 0px;
margin: 0px;
line-height: 1px;

}

