*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: Noto Serif Display;
  

}

html

/*Header Section*/
.navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(6, 114, 48);
  top:0; left:0; right: 0; bottom: 0;
  height: 30px;
 

}
.navbar ul{
display: flex;
list-style: none;
margin: 0px 0px;
color: white;
align-items: center;
}
.navbar ul li{
  font-family: Noto Serif Display;
  font-size: 15px;
  color: white;
  font-weight: bold;

 
}

.navbar ul li a{
  color:beige ;
  padding: 5px;
  text-decoration: none;

}

.navbar ul li a:hover{
  background-color: white;
  color:rgb(6, 114, 48);
  /* color: rgb(238, 90, 36); */
}

/*Home Section*/

#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:url(../images/serve.avif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  
}

#home .button{
  font-size: 15px;
  color: whitesmoke;
  text-decoration: none;
  color: rgb(238, 90, 36);
  border: rgb(238, 90, 36) 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;

}

#home .button:hover {
  background: white;
}

.home h1{
  color: white;
  text-align: center;
  

}

.home p{
  color: white;
  text-align: center;
  

}

/*About Section*/
#about{
background:rgb(240, 85, 28);
padding-top: 20px;
margin-top: 0px;
font-size: 20px;

}

.about-container{
  text-align: center;

}
.about h2{
  text-align: center;
  color: white;
  font-size: 40px;
  padding: 10px;
}

.about-container{
  display: flex;
  flex: 1;
}

.img-fluid{
  height: 150px;
  width: 150px;
  border-radius: 50%;
    
}

.hidden-content1{
  display: none;
  font-size: 25px;
}
.hidden-content2{
  display: none;
  font-size: 25px;
}
.hidden-content3{
  display: none;
  font-size: 25px;
}

/* .about h{
  font-size: 20px;
  font-weight: bold;
  font-size: 30px;
  
} */
.about p{
  color: white;
}

#order{
background:url(../images/pizza03.webp);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: white;

}
.order h3{
  font-size: 40px;
  padding: 10px;
}

.order p{
  font-size: 25px;
}

.btn-order{
  margin-top: 10px;
}



.table{
  color: white;
  background-color: rgb(240, 85, 28);
  font-size: 25px;
}

.additional-info, .additional-info h4, .additional-info h6, .additional-info h {
  font-size: 25px;
  font-weight: 600;
  
}



/*Footer Section*/

.contact{
  background:rgb(6, 114, 48); 
  align-items: center;
  text-align: center;
  font-size: 25px;
  padding: 0px;
  margin: px;
  line-height: 5px;
  color: white;
   
}

.contact h5{
  font-size: 30px;
  Padding:10px 0;
}

.socials{
  padding: 10px;
}
